
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 per row */
  gap: 30px;
  max-width: 1200px;
 margin: 50px;
  padding: 40px 20px ;
}
@media (max-width: 992px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .products-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(1, 1fr); /* 1 card per row */
    padding: 20px 15px ; /* smaller padding */
  }
}
